<form name="search-form">
    <span class="search-form-wrapper">
        <input type="text" name="" id="search-input" placeholder="Start searching" class="search-input">
    </span>
    <span class="search-form-wrapper">
        <input list="choose-country" name="fav" id="search-country" placeholder="Choose country" class="search-input">
    </span>

    <datalist id="choose-country">
        <option>Edge</option>
        <option>Firefox</option>
        <option>Chrome</option>
        <option>Opera</option>
        <option>Safari</option>
    </datalist>
</form>