.close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 25px;
    height: 25px;
    color: #4C00FE;
    background-color: #FFF2FD;
    border: none;
}

.modal__list-btn {
    color: #FFFFFF;
    background-color: #4C00FE;
    border-radius: 5px;
    width: 145px;
    height: 40px;
    margin-top: 20px;
}

.infoauthor-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 255px;
    height: 40px;
    color: #4C00FE;
    background-color: #FFF2FD;
    font-size: 16px;
    line-height: 1.25;
    border: 1px solid #4C00FE;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 62px;
}