.heroTitle {
  @media screen and (min-width: 320px) {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: rgba(220, 86, 197, 1);
    margin-bottom: 25px;
    margin-top: 78px;
  }
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 27px;
    margin-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 50px;
    margin-bottom: 52px;
  }
}

