body {
    position: relative;
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    
}

.ellipse6 {
    position: absolute;
    width: 334px;
    height: 334px;
    left: 30px;
    top: 416px;
    border-radius: 0 100% 0 0;
    border: 1px solid #212121;
}